@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.JobOpeningViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Job openings</h2>
@if (User.IsInRole("Boss"))
{
    <p>
        @Html.ActionLink("New job opening", "Create")
    </p>
}

@Html.Action("_Index")