@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.InformationViewModel>
@if (ViewBag.Title == null || ViewBag.Title == "")
{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Index")