@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.InformationViewModel>

@{
    ViewBag.Title = "News";
}

<h2>News</h2>

<div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model)); orderByColumn('Title')">
    <table class="table">
        <tr>
            <th ng-click="orderByColumn('Title')">Title</th>
            <th ng-click="orderByColumn('Content')">Contents</th>
            <th ng-click="orderByColumn('UploadTime')">Time created</th>
        </tr>

        <tr ng-repeat="item in data| orderBy:columnName:reverse">
            <td>
                {{item.Title}}
            </td>
            <td>
                {{item.Content}}
            </td>
            <td>
                {{item.UploadTime}}
            </td>
        </tr>
    </table>
</div>
