@model PersonnelManagmentSystemV1.ViewModels.FileViewModel

@{
    ViewBag.Title = "Details";
}

<h2>File details</h2>

<div>
    <hr />
    @Html.Partial("_FileDetails", Model)
</div>
<p>
    <div class="btn">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div>
    <div class="btn">@Html.ActionLink("Back to List", "Index")</div>
    
</p>
