@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.FileViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Files</h2>
 @if (User.IsInRole("Boss"))
{
<p>
    @Html.ActionLink("New file", "Create")
</p>
}
@Html.Partial("_Index")