@using PersonnelManagmentSystemV1.ViewModels
@model IEnumerable<MessageViewModel>

@{
    ViewBag.Title = "Messages";
}

<h2>@ViewBag.Title</h2>


<div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model)); orderByColumn('SendTime'); reverse=true;">
    <table class="table">
        <tr>
            <th ng-click="orderByColumn('SenderName')">Sender</th>
            <th ng-click="orderByColumn('RecipientName')">Recipient</th>
            <th ng-click="orderByColumn('JobOpeningName')">Job opening</th>
            <th ng-click="orderByColumn('Title')">Title</th>
            <th ng-click="orderByColumn('BodyContent')">Contents</th>
            <th ng-click="orderByColumn('SendTime')">Time sent</th>
            <th></th>
        </tr>

        <tr ng-repeat="item in data| orderBy:columnName:reverse">
            <td>
                {{item.SenderName}}
            </td>
            <td>
                {{item.RecipientName}}
            </td>
            <td>
                {{item.JobOpeningName}}
            </td>
            <td>
                {{item.Title}}
            </td>
            <td>
                {{item.BodyContent}}
            </td>
            <td>
                {{item.SendTime}}
            </td>
            <td>
                <div class="btn btn-default"><a ng-href="../Message/Details?id={{item.ID}}">Details</a></div>
                <div class="btn btn-default"><a ng-href="../Message/Reply?id={{item.ID}}">Reply</a></div>
                <div class="btn btn-default" ng-show="item.AllowEdit"><a ng-href="../Message/Delete?id={{item.ID}}">Delete</a></div>
            </td>
        </tr>
    </table>
</div>
