@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="margin-top: 2em;">
    <h1>Worker's Index</h1>

    <h2>@Html.ActionLink("View Files", "Index", "Files")</h2>
</div>

<div class="jumbotron">
    @if (Model.Events != null)
    {
        <h4>Upcoming Events</h4>
        @Html.Action("_Events", "Calender")
    }
</div>
<hr />
<div class="jumbotron">
        <h4>Important Information</h4>
        @Html.Action("_Index", "Information")
</div>
<br />

