@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h4>Important Information</h4>
    @Html.Action("_Index", "Information")
</div>

<div class="jumbotron" style="margin-top: 2em;">
    <h4>Files</h4>

    @Html.Action("_Index", "Files")
</div>


    @if (Model.Events != null)
    {
        <div class="jumbotron">
            <h4>Upcoming Events</h4>
            @Html.Action("_Events", "Calender")
        </div>
    }
<hr />

<br />

