@using PersonnelManagmentSystemV1.Models;
@model IEnumerable<Information>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        @Html.Action("PublicNews", "Information")
    </div>
   
</div>
