@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.CVVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("New CV", "Create")
</p>

<div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model)); orderByColumn('UploadTime'); reverse = true">
    <h4>Employees</h4>
    <table class="table">
        <tr>
            <th ng-click="orderByColumn('Title')">Title</th>
            <th ng-click="orderByColumn('Description')">Description</th>
            <th ng-click="orderByColumn('FileName')">Filename</th>
            <th ng-click="orderByColumn('UploadTime')">Upload time</th>
            <th>

            </th>
        </tr>

        <tr ng-repeat="item in data| orderBy:columnName:reverse">
            <td>
                {{item.Title}}
            </td>
            <td>
                {{item.Description}}
            </td>
            <td>
                {{item.FileName}}
            </td>
            <td>
                {{item.UploadTime}}
            </td>
            <td>
                <span ng-show="item.AllowEdit">
                    <a ng-href="./CVs/Edit?id={{item.ID}}">Edit</a>|
                    <a ng-href="./CVs/Delete?id={{item.ID}}">Delete</a>|
                </span>
                <a ng-href="./CVs/Details?id={{item.ID}}">Details</a>
            </td>
        </tr>
    </table>
</div>
