@model PersonnelManagmentSystemV1.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label >Manager</label> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            <label>Department name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Employees))" >
    <h4>Employees</h4>
    <table class="table">
        <tr>
            <th ng-click="orderByColumn('UserName')">Name</th>
            <th>

            </th>
        </tr>

        <tr ng-repeat="item in data| orderBy:columnName:reverse">
            <td>
                {{item.UserName}}
            </td>
            <td></td>
        </tr>


    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
