@model PersonnelManagmentSystemV1.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label >Manager</label> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.Email)
        </dd>

        <dt>
            <label>Department name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="row">
    <h4>Employees</h4>
    <table class="table">
        
        <tr>
            <th>Name</th>
        </tr>
        @foreach (PersonnelManagmentSystemV1.Models.ApplicationUser employee in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(emp => employee.UserName)
                </td>
                
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
