@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.DepartmentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<hr/>
<h4>Departments</h4>
<div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    
    <table class="table">
        <tr>
            <th ng-click="orderByColumn('Manager')">Manager</th>
            <th ng-click="orderByColumn('Department')">Department</th>
            <th>

            </th>
        </tr>

        <tr ng-repeat="item in data| orderBy:columnName:reverse">
            <td>
                {{item.ManagerName}}
            </td>
            <td>
                {{item.Name}}
            </td>
            <td>
                <a data-ng-href="./Boss/Details/{{item.ID}}">Details</a>
            </td>
        </tr>


    </table>
</div>
