@model PersonnelManagmentSystemV1.ViewModels.AdminIndexListViewModel

<h3>Users</h3>
<p>
    @Html.ActionLink("New user", "CreateUser")
</p>
@Html.Partial("_Users", Model.IndexUsers)


<h3>Departments</h3>
<p>
    @Html.ActionLink("New department", "CreateDepartment")
</p>
@Html.Partial("_Departments", Model.IndexDepartments)